absl-py==1.4.0
attrs==23.1.0
contourpy==1.1.0
cvzone==1.5.6
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.40.0
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
mediapipe==0.9.1.0
numpy==1.25.0
opencv-contrib-python==4.7.0.72
opencv-python==4.5.4.60
packaging==23.1
Pillow==9.5.0
protobuf==3.20.3
pyparsing==3.1.0
python-dateutil==2.8.2
six==1.16.0
zipp==3.15.0
